<div class="row">
    <div class="col">
        <!-- Cuando se suelta la tecla el valor de la caja de texto que tiene el #termino lo pasamos al componente search -->
        <input #termino type="text" (keyup)="searchArtist(termino.value)" class="form-control" placeholder="Search Artist">
    </div>
</div>

<app-loading *ngIf="loading" class="m-5"></app-loading>

<!-- Mandamos la propiedad items desde el componente padre search.component al componente hijo cards.component; entonces en ese componente hijo debemos recibir esta propiedad con el mismo nombre y con un Input -->
<app-cards *ngIf="!loading" [items]="artistas"></app-cards>